@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Björnkärrsgatan 5a<br />
    Linköping, Östergötland 572 58<br />
    <abbr title="Phone">Phone:</abbr>
    072-220 72 44
</address>

<address>
    <strong>Email:</strong> <a href="Dino_Petrovic_91@hotmail.com">Dino_Petrovic_91@hotmail.com</a>
</address>